body {
	margin: 0;
	padding: 0;
	background: #273555 url(images/wrapper-bg.png) repeat;
	font-family: 'Unkempt', cursive;
	font-size: 14px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: 400;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #0082B4;
}

a:hover {
}

img {
	max-width: 100%
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	overflow: hidden;
	margin: 0px auto;
	background: url(images/dexter_bg_index1.jpg) no-repeat left top;
}

/* Header */

#header {
	overflow: hidden;
	width: 900px;
	height: 100px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 60px;
	margin: 0;
	padding: 0px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -3px;
	text-transform: lowercase;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 64px;
}

#logo span {
	letter-spacing: normal;
	font-size: 22px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 820px;
	height: 60px;
	margin: 0 auto;
	padding: 0px 40px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 40px;
	margin-right: 1px;
	padding: 20px 20px 0px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'unkempt', cursive;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	background: url(images/page-content-bg.png) repeat;
}

#menu a:hover {
	background: url(images/page-content-bg.png) repeat;
}

/* Page */

#page {
	overflow: hidden;
	width: 900px;
	margin: 0px auto;
	padding: 50px 40px;
	background: url(images/page-content-bg.png) repeat; 
}

/* Footer */

#footer {
	width: 900px;
	height: 140px;
	margin: 0px auto;
	background: url(images/footer-shadow-bg.png) no-repeat left top;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
	font-size: 12px;
	color: #889CB1;
}

#footer a {
	text-decoration: underline;
	color: #889CB1;
}

a.fancy_button, button.fancy_button { 
  background: #555; 
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(77,77,77,0.4)); 
  float: left; 
  padding: 4px; 
  text-decoration: none; 
  outline: 0; 
  border-width: 1px; 
  border-style: solid;
  width: auto;
  overflow: visible;
  border-color: transparent transparent #666 transparent; 
  border-color: transparent transparent rgba(202,202,202,0.27) transparent;
  -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;
  -webkit-background-clip: padding-box;
}

a.fancy_button span, button.fancy_button span { 
  display: block; 
  float: left;
  letter-spacing: -1px; 
  border-width: 1px; 
  border-style: solid; 
  border-color: #ccc #444 #111 #444; 
  border-color: rgba(255,255,255,0.7) rgba(0,0,0,0.5) rgba(0,0,0,0.7) rgba(0,0,0,0.5); 
  font: bold 21px/1em Arial;
  color: white; 
  padding: 0.48em 2em; 
  cursor: pointer; 
  text-shadow: rgba(0,0,0,0.45) 0 -1px 0; 
  -webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; box-shadow: rgba(0,0,0,0.75) 0px 0px 3px;
  -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  -webkit-background-clip: padding-box;
}

a.fancy_button:hover span, button.fancy_button:hover span {  
  border-top-color: rgba(255,255,255,0.65); 
  background: -moz-linear-gradient(top, rgba(220,220,220,0.6), rgba(100,100,100,0.2) 50%, rgba(0,0,0,0.21) 50%, rgba(0, 0, 0, 0.20));
  -webkit-background-clip: padding-box;
}

a.fancy_button:active span, button.fancy_button:active span {  
  border-top-color: rgba(255,255,255,0.2); 
  border-left-color: rgba(0,0,0,0.4); 
  background: -moz-linear-gradient(top, rgba(150,150,150,0.6), rgba(60,60,60,0.6) 50%, rgba(40,40,40,0.6) 50%, rgba(20, 20, 20, 0.5));
  -webkit-box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; -moz-box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; 
  -webkit-background-clip: padding-box;
}

a.fancy_button span:active, button.fancy_button span:active { 
  border-top-color: rgba(255,255,255,0.2); 
  border-left-color: rgba(0,0,0,0.4); 
  -webkit-background-clip: padding-box;
}

body { 
margin: 0; 
padding: 0; 
text-align: center; 
color: #FFF; 
font-family: 'unkempt', cursive; 
font-size: 100%; 
background-color: #000; 
background-attachment: fixed; 
background-repeat: no-repeat; 
background-position: left top; 
background-image: url(images/containerbackground.jpg); 
} 
.twoColHybLtHdr #container { 
width: 80%; 
border: 1px none #000000; 
text-align: left; 
margin-top: 0; 
margin-right: auto; 
margin-bottom: 0; 
margin-left: 160px; 
background-repeat: no-repeat; 
background-image: url(images/logoblue.png); 
} 
.twoColHybLtHdr #mainContent { 
margin: 0 20px 0 13em; 
} 
img { 
border-top-style: none; 
border-right-style: none; 
border-bottom-style: none; 
border-left-style: none; 
max-width: 100%;
} 
.imagethumb { 
float: left; 
text-decoration: none; 
height: 100px; 
width: 100px; 
margin-top: 25px; 
margin-left: 25px; 
} 

p {
	float:left;
} 
