body {
	margin: 0;
	padding: 0;
	background: #273555 url(images/wrapper-bg.png) repeat;
	font-family: 'Unkempt', cursive;
	font-size: 87.5%;
	color: #FFFFFF;
	width: auto;
	height: auto;
	float: left;
}

h1, h2, h3 {
	margin: 0%;
	padding: 0%;
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: 400;
	width: auto;
	height: auto;
}

h1 {
	font-size: 150%;
	font-weight: bold;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 164.3%;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #0082B4;
}

a:hover {
}

img {
	max-width: 100%;
}

img.border {
	border: 37.5% solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 178%;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0% auto;
}

#wrapper {
	overflow: hidden;
	width: auto;
	margin: auto;
	background: url(images/dexter_bg_index1.jpg) no-repeat left top;
	float: left;
}

/* Header */

#header {
	overflow: hidden;
	width: auto;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: auto;
	width: auto;
	margin: 0;
	padding-top:10px;
	padding: 0% 0% 0% 0%;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -3px;
	text-transform: lowercase;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 64px;
	height: auto;
	width: auto;
}

#logo span {
	letter-spacing: normal;
	font-size: 22px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: auto;
	height: 60px;
	margin: 0 auto;
	padding: 0% 40px;
}

#menu ul {
	margin: 0;
	padding: 0% 0% 0% 0%;
	list-style: none;
	line-height: normal;
	width: auto;
}

#menu li {
	float: left;
	width: auto;
}

#menu a {
	display: block;
	height: 40px;
	width: auto;
	margin-right: 1px;
	text-decoration: none;
	padding: 20px 20px 0% 20px;
	text-transform: uppercase;
	font-family: 'unkempt', cursive;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	background: url(images/page-content-bg.png) repeat;
}

#menu a:hover {
	background: url(images/page-content-bg.png) repeat;
}

/* Page */

#page {
	overflow: hidden;
	width: auto;
	height: auto;
	margin: 0% auto;
	padding: 50px 40px;
	background: url(images/page-content-bg.png) repeat; 
}

#post {
	width: auto;
	height: auto;
}

/* Footer */

#footer {
	margin: 0% auto;
	background: url(images/footer-shadow-bg.png) no-repeat left top;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
	font-size: 12px;
	color: #889CB1;
}

#footer a {
	text-decoration: underline;
	color: #889CB1;
}